<h3 class="display-5 text-center">Main Course</h3>
<ul class="nav nav-tabs mt-4 justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link" routerLink="vegcurry" routerLinkActive="active">Veg Curries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nonvegcurry" routerLinkActive="active">Non-veg Curries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="roti" routerLinkActive="active">Roti</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="biryani" routerLinkActive="active">Biryani</a>
      </li>
</ul>
<div>
<router-outlet></router-outlet>
</div>