.input-group{
    margin: 8px 15px; 
    width: 90%;
}
.container-fluid{
    margin-bottom: 5px;
     background-image: url("https://www.wallpapertip.com/wmimgs/233-2337403_food-wallpaper-hd-1080p.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 500px;
}
#p1{
    opacity: 90%;
}
.btn{
    font-size:20px;
    font-family:'Roboto',sans-serif;
}
input:focus{
    background-color:transparent;
    border-color:#cda45e;
    color: white;
}
input{
    box-shadow:none !important;
}
input:active{
    box-shadow: yellow;
}
::placeholder,.display-6{
    font-family: 'Roboto', sans-serif;
}
.form-text{
    margin-left: 50px !important;
    margin-top: -5px !important;
}

@media screen and (max-width:500px){
    #p1{
        margin-right:5px;
        margin-left:5px;
    }
    .btn{
        padding-top:3px !important;
        padding-bottom:3px !important;
        padding-right:17px !important;
        padding-left:17px !important;
    }
}

/* .b{
    border:0px;
    border-bottom:1px solid black;
    box-shadow:none;
}
h1{
    color:lightblue;
    font-family:sans-serif;
}
.row{
    background-image: linear-gradient(to right,#83a4d4,#b6fbff);
}
.fa-utensils{
    font-size:45px;
    background-color:rgb(250, 222, 189);
    color:plum;
}
.modal-content{
    background-color: rgb(0,0,0,0.5);
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bt{
    background-color:bisque;
    width:170px;
} */
