<div class="row bg-info">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6 mb-5 mt-5">
    <form class="card p-4 shadow m-3 text-secondary text-center">
        <i class="fas fa-utensils mx-auto p-3 rounded-circle"></i>
        <h1 class="text-center"> Login</h1>
        <div class="form-floating rounded-0">
        <input type="text" name="username" class="form-control m-0 rounded-0 b" id="a" placeholder="abcd">
        <label for="a"><i class="fas fa-user"></i> Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control m-0 rounded-0 b" id="b" placeholder="abcd">
            <label for="b"><i class="fas fa-lock"></i> Password</label>
        </div>
        <button type="submit" class="btn btn-lg bt mt-4 mb-3 d-block mx-auto" data-bs-toggle="modal" data-bs-target="#mod">Login</button>
        </form>
        </div>
        <div class="col-sm-2 col-md-3"></div>
        </div>
        <div class="modal fade" id="mod" data-bs-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body text-success">
                  Welcome back buddy ! !
                  <button class="btn btn-danger float-end" data-bs-dismiss="modal">X</button>
                </div>
              </div>
            </div>
          </div>
    
    
      
      
