.b{
    border:0px;
    border-bottom:1px solid black;
    box-shadow:none;
}
h1{
    color:lightblue;
    font-family:sans-serif;
}
.row{
    background-image: linear-gradient(to right,#83a4d4,#b6fbff);
}
.fa-utensils{
    font-size:45px;
    background-color:rgb(250, 222, 189);
    color:plum;
}
.modal-content{
    background-color: rgb(0,0,0,0.5);
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bt{
    background-color:bisque;
    width:170px;
}
