
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <div class="display-5 mt-3 text-center">UserId: {{postObj.id}}</div>
    <div class="x card border-0 shadow bg-dark text-white p-4 mb-2">
    <div class="text-center mt-0"><img src={{postObj.avatar}} class="rounded-circle"></div>
    <ul class="list-unstyled h4">
    <li class="x text-center display-5">{{postObj.username}}</li>  
    <li><i class="far fa-user"></i>{{postObj.name}}</li>
    <li><i class="far fa-envelope"></i>{{postObj.email}}</li>
    <li><i class="fas fa-mobile-alt"></i>{{postObj.phone}}</li>
    <li><i class="fas fa-user-tie"></i>{{postObj.profession}}</li>
    <li><i class="fas fa-map-marker-alt"></i>{{postObj.city}}</li>
    </ul>
    </div>
    </div>
    <div class="col-sm-4"></div>
</div>
