.x{
    overflow-x:hidden;
}
.fa-utensils{
    font-size:19px;
    background-color:rgb(250, 222, 189);
    color:plum;
}
.navbar-brand{
    color:#cda45e;
    font-family:'Pacifico',sans-serif;
    letter-spacing: 0.05ch;
}
li a{
    text-align:center;
    font-family:'Roboto',sans-serif;
}
li a:hover{
    color:white !important;
    background-color: plum;
    transition:0.7s;
}
.active{
    color:#cda45e;
}