<h6 class="text-center">Square of {{n}} is {{n |square}}</h6>
<table class="table table-dark table-striped container text-center mt-4 w-50">
    <thead>
        <tr>
            <th class="p-3">Id</th>
            <th class="p-3">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let object of users">
            <td class="p-3"><button class="btn btn-sm btn-secondary" (click)="onselect(object.id)">{{object.id}}</button></td>
            <td class="p-3">{{object.email}}</td>
            
        </tr>
    </tbody>
</table>
