  
   <ul class="nav nav-pills mt-4 justify-content-evenly">
              <li class="nav-item">
                <a class="nav-link" routerLink="icecream" routerLinkActive="active">Ice cream</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="cupcake" routerLinkActive="active">Cupcake</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="berries" routerLinkActive="active">Berries</a>
              </li>
    </ul>
    <div class="container">
      <router-outlet></router-outlet>
    </div>