<div class="row">
<div class="col-sm-2 col-md-3"></div>
<div class="col-sm-8 col-md-6">
<form class="card p-4 shadow m-3 text-secondary">
   <i class="fas fa-utensils mx-auto p-3 rounded-circle"></i>
    <h1 class="text-center">Sign Up</h1>
    <div class="form-floating rounded-0">
    <input type="text" name="username" class="form-control m-0 rounded-0 b" id="a" placeholder="abcd">
    <label for="a">Username</label>
    </div>
    <div class="form-floating">
    <input type="date" name="dob" class="form-control m-0 rounded-0 b" id="ab" placeholder="abcde">
    <label for="ab">   </label>
    </div>
    <div class="form-floating">
    <input type="email" name="email" class="form-control m-0 rounded-0 b" id="ba" placeholder="abcdef">
    <label for="ba">E-mail</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control m-0 rounded-0 b" id="b" placeholder="abcd">
        <label for="b">Password</label>
    </div>
    <button type="submit" class="btn bt btn-lg text-white m-3 d-block mx-auto" data-bs-toggle="modal" data-bs-target="#mod">Sign Up</button>
    </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
    </div>
    <div class="modal fade" id="mod" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body text-success">
              Your account has been successfully created!
              <button class="btn btn-danger float-end" data-bs-dismiss="modal">X</button>
            </div>
          </div>
        </div>
      </div>


  
  