<h3 class="display-5 text-center bg-secondary p-5">Starters</h3>
<ul class="nav nav-tabs mt-4 justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link" routerLink="soup" routerLinkActive="active">Soups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pizza" routerLinkActive="active">Pizza</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="salad" routerLinkActive="active">Salads</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="grill" routerLinkActive="active">Grill items</a>
      </li>
</ul>
<div>
<router-outlet></router-outlet>
</div>
