<div class="card shadow mb-3 bg-dark text-white">
    <img [src]="data.imgPath" class="w-100">
    <div class="m-3">
        <h5 class="text-secondary h4">{{data.name}}</h5>
        <h6 class="p-3">{{data.description}}</h6>
        <!-- <div class="d-flex justify-content-between align-items-center m-3"> -->
        <p class="lead">₹{{data.price}}</p>
        <button class="btn btn-warning float-end" (click)="bookProduct(data.name)"><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
   </div>
   </div>
