<div class="card shadow mb-3">
    <img [src]="data.imgPath">
    <div class="m-3">
        <h5 class="text-secondary display-6">{{data.title}}</h5>
        <p class="lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-outline-secondary" (click)="bookProduct(data.title)">Place</button>
        <p class="text-muted"><small>9 mins</small></p>
   </div>
   </div>
   </div>
